@use '@angular/material' as mat;
@use 'styles/utilities';

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$m2-pink-palette,
    typography: mat.m2-define-rem-typography-config(),
    density: 0
  ));
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: inherit;
}
