@use '@angular/material' as mat;

@use 'styles/utilities';

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$m2-pink-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
